/*INDIAN DOCTOR ONLINE*/
body{
    height: 100%;
    background:#e4e7e8;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a:focus{
    outline:none;
    border:none;
}
p, a{
    font-family:Arial, Helvetica, sans-serif;	
    word-wrap: break-word;
}
li, span{
    font-family:tahoma, Helvetica, sans-serif;	
    word-wrap: break-word;
}

.container{
    max-width:1024px;
   /* background:#e4e7e8;*/	
}
.absolute-full-height{
    position: absolute;
    top: 0;
    left:0;
    height: 96.65%;
    width: 100%;
    z-index: 100;
}
.expand .collapse{
    float: right;
    color: white;
    font-size: 12px;
}
#contentArea.container{
    background:#fff;
    margin:7px auto;	
    clear:both;
    width:100%;
}
.header .container{
    background:#fff;
    height:50px;	
}
.header{
    background-color: #ffffff;
    height: 50px;
    width: 100%;
}
.navbar{
    background:#ffffff;
    border:none;
    height:50px;
    margin:0;
    padding:0;
    vertical-align: middle;
    border-radius:0;
    -webkit-border-radius:0;
    box-shadow: none;
}
.dropdown-menu{
    padding:0;	
}
.navbar-right .dropdown-menu > li > a.highlight {
    color: #fff;
    background-color: #24a95c
}
.dropdown-menu > li > a.highlight:hover, .navbar-right .dropdown-menu li a:hover {
    color:#fff;
    background-color: #24a95c
}
.navbar-brand{
    padding:0;	
}
.navbar .container{
    background:none;	
}

.body-content{
    height: 99%;
    margin-top: 0px;
}

.content-col{
    height: 98%;
    overflow-y: auto;
    padding: 2px;
}
.content-row{
	width:99%
    height: auto;
    overflow-y: auto;
    padding: 2px;
}
.main-content{
    //height: 99%;
    overflow-y: auto;
    padding-top: 50px;
}
.navbar-inverse {
    background: #fff;
    border: none;
    height: 50px;
    margin: 7px 0 0 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.navbar-inverse .container {
    background: none;
}
/*RESPONSIVE NAVIGATION*/
.navbar-nav > li > a{
    padding:2px 0px 2px;
    text-align:center;
    line-height:16px;	
    display: inline-block;
}
ul.navbar-nav li a span.tracker, ul.navbar-nav li a span.emr, ul.navbar-nav li a span.notes, ul.navbar-nav li a span.risks, ul.navbar-nav li a span.examination, ul.navbar-nav li a span.endConsultation, ul.navbar-nav li a span.overview, ul.navbar-nav li a span.viewSummary, ul.navbar-nav li a span.endColtn {
    background: url(../img/icons-header.png) 0 0 no-repeat;
    display: inline-block;
    width: 26px;
    height: 27px;
    margin: auto;
}
ul.navbar-nav li a span.endConsultation {
    width: 33px;
    background-position: -272px 0;
}
ul.navbar-nav li a span.overview {
    width: 33px;
    background-position: 2px 0;
}
ul.navbar-nav li a span.tracker {
    width: 33px;
    background-position: -33px 0;
}
ul.navbar-nav li a span.examination {
    width: 33px;
    background-position: -68px 0;
}
ul.navbar-nav li a span.emr {
    width: 33px;
    background-position: -112px 0;
}
ul.navbar-nav li a span.risks {
    width: 29px;
    background-position: -152px 0;
}
ul.navbar-nav li a span.notes {
    background-position: -191px 0;
    width: 36px;
}
ul.navbar-nav li a span.viewSummary {
    width: 37px;
    background-position: -230px 0;
}
ul.navbar-nav li a span.endColtn {
    background-position: -272px 0;
    width: 24px;
}
ul.navbar-nav li a span.menuText, ul.navbar-nav li a span.emrTxt, ul.navbar-nav li a span.riskTxt {
    display: inline-block;
    clear: both;
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
    color: #333333;
    font-size: 12px;
}
ul.navbar-nav li a span.emrTxt{
    width:95%;	
}
ul.navbar-nav li a span.riskTxt{
    width:105%;	
}
.sectionBoxContainer{
    height: 49%;
}
.containerColumns{
	width:49%;
	padding:5px;
}
.formbodytext_normal{
	max-width:145px;
	word-wrap:break-word;
}
.formelement{
	margin-top:5px;
}
.hr{
	border-bottom: 1px solid black;
	height:20px;
	display:block !important;
}
.sectionBox{
    //height: 100%;
    background:#fff;
    margin:0 0 0 0;	
}
.sectionBox h2{
    padding: 5px;
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.sectionBoxCallout{
    background:#fff;
    margin:15px 0;	
    position: absolute;
    margin-left: -70px;
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
}
.sectionBoxCallout h2{
    padding:5px 10px;
    color:#fff;
    font-size: 13px;	
    margin:0;
}
.sectionBoxCallout .smallContent{
    overflow-x:none;
    overflow-y:auto;
    width: 300px;
    min-height: 300px;
}
.video{
    height: 560px;
    margin-top: 0px;
    max-height: none;
}
h2 span.icons{
    display:inline-block;
    height:26px;
    margin:0px 0;
    padding:0 0 0 35px;
}
h2 span.iconEMR{
    background:url(../img/icon-emr.png) 0 0 no-repeat;	
}
h2.blue{
    background:#9cd4f9;	
}
h3, .h3{
    font-size:13px;
    font-weight:bold;
}
.emrProfileContainer{
    background:#85c2eb;	
    float:left;
    width:100%;
    height: 80px;
}
.emrProfileContainer img{
    float:left;
    border:1px solid #414141;
    margin:10px;	
    height: 60px;
    width: 50px;
}
.emrDetails{
    height: 85.0%;
}
.emrProfileContainer .emrProfile{
    float:left;
    margin:10px 10px 10px 0;	
}
.emrProfileContainer .emrProfile p{
    line-height:17px;
    padding:0;
    margin:0 0 5px 0;
    color:#fff;	
}

.contentDetails, .contentDetailsInner{
    padding:5px 10px;
    width:100%;	
    clear:both;
}
.contentDetailsInner{
    padding:5px 15px;
}
.contentDetails hr, .contentDetailsInner hr{
    color:#333;
    background:#333;
    width:100%;
    height:1px;	
    margin: 2px 0;
}
.contentDetails h3, .contentDetailsInner h3{
    font-size:13px;	
    font-weight:bold;
    padding:5px 0;
    margin:0;
    color:#333;
}
.contentDetails p, .contentDetailsInner p{
    font-size:13px;	
    color:#333;
}
.detailsLink{
    height:38px;
    text-align: right;
    width: 100%;
    position: relative;
    padding-left: 5px;
}
.blue{
    background:#9cd4f9;
}
.detailsLink a{
    position:relative;
    right:5px;
    top:5px;
    display:inline-block;	
    padding:4px 0;
    text-align:center;
    text-decoration:none;
    color:#fff !important;
    width:150px;
	border:1px solid white;
	background-color:#1c75bc;
	    font-size: 12px;
}
.detailsLink a:hover{
	border:1px solid green;
}
.blue a{
    background:none;
}

/*NOTES SECTION*/
.orange{
    background:#ee9912;
}
h2 span.iconNotes{
    background:url(../img/icon-notes.png) 0 0 no-repeat;	
}
.orange a{
    background:#d78400;
}

/*RISK FACTORS*/
.red{
    background:#fd6566;
}

.red a{
    background:#bb382b;
}
h2 span.iconWarning{
    background:url(../img/icon-warning.png) 0 0 no-repeat;	
}
.red input{
    background:#fff;
    border:1px solid #bb382b;
    font-size:13px;
    padding:5px;
    position:absolute;
    left:5px;
    top:5px;
    height:25px;
    width:47%;	
}
.smallContent{
    overflow-x:none;
    overflow-y:auto;
    height: 66.3%;
}
.riskFactorDetails ul{
    margin:5px 0;
    padding:0;	
}
.riskFactorDetails li{
    list-style:none;
    padding:3px 0;
    color:#11587E;
	font-weight:bold;
	font-size:11px;
    border-bottom:1px solid #333;
}
.riskFactorDetails li{
    list-style:none;
    padding:5px 0;
}

.riskFactorDetails li span, .iconEdit, .iconDelete{
    background:url(../img/icon-edit-delete.png) 0 0 no-repeat;
    width:21px;
    height:21px;
    display:inline-block;
    float:right;
    margin:0 5px;
    cursor:pointer;	
}
.riskFactorDetails li span.iconEdit, .iconEdit{
    background-position:0 0;
}
.riskFactorDetails li span.iconDelete, .iconDelete{
    background-position:-23px 0;
}
.iconEdit, .iconDelete{
    float:none;	
    overflow:hidden;
    text-indent:-99999px;
    margin:0;
    height:20px;
}
.detailsValue{
    width:50%;
    display:inline-block;	
}
.riskFactorDetails li div{
    background:url(../img/icon-save-cancel.png) 0 0 no-repeat;
    width:21px;
    height:21px;
    display:inline-block;
    float:right;
    margin:0 5px;
    cursor:pointer;	
}
.riskFactorDetails li div.iconSave{
    background-position:0 0;
}
.riskFactorDetails li div.iconCancel{
    background-position:-23px 0;
}

/*TRACKERS SECTION*/
.foo {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}
 div.box{
 float:left;
 width:33%;
 }
.headerheight{
height:40px;
}
.cellheight{
height:40px;
}
.green{
    background:#47a447;	
	border-color:#398439;
}
.dark_blue{
    background:#7dc5c5;	
	border-color:#50B0B0;
}
.dark_red{
    background:#f16060;	
	border-color:#F25252;
}
.orange{
    background:#ed9c28;	
	border-color:#d58512;
}
.green a{
    background:#1f9952;	
}
.green li a{
    right: 0px;
    top: 0px;
    padding-right: 0px;
    background: #fff;
}
h2 span.iconTracker{
    background:url(../img/icon-trackers.png) 0 0 no-repeat;	
}
.examinationContent{
    min-height:121px;	
}

/*EXAMINATION SECTION*/
.darkblue{
    background:#3294d6;
}
.darkblue a{
    background:#287cb4;
}
h2 span.iconExamination{
    background:url(../img/icon-examination.png) 0 0 no-repeat;	
}
.trackerContent{
    min-height:121px;	
}

select{
    padding:5px;
    border:1px solid #333;
    margin:10px 0 0 0;	
    color: #333;
}
a.detailsIcon{
    background:none;
    float:right;
}
table{
    font-size: 12px;
}
table.dataTable{
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;	
    color: #333;
}
table.dataTable th, table.dataTable td{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:5px 25px 5px 5px;
    color: #333;
}
table.dataTable th, table.dataTable td a{
    color: #0036ad;
}
table.dataTable th, table.dataTable td a.summary{
    color: #3294d6;
}
table.dataTable th{
    background:#efefef;	
    padding:8px 5px;
}
table.collapsibleTbl{
    width:100%;	
    border-top:none;
}
table.dataTable th span{
    font-size:smaller;	
}
table.dataTable tr:nth-child(even){
    background:#ecf4f9;
}
table.dataTable tr:nth-child(odd){
    background:#fff;
}
.userProfile{
    float:left;	
    margin-left:15px;	
    margin-top: 3px;
    height: 44px;
}
.searchBox{
    float:left;	
	
    margin-left:15px;	
    margin-top: 5px;
    height: 44px;
}
.userProfile img{
    float:left;
    height: 40px;
    border: 1px solid #878787;	
    width: 32px;
}
.userProfile p{
    float:left;
    padding:0px 5px;	
    line-height:15px;
    color: #3294d6;
}
.userProfile span{
    display:inline-block;	
    padding-top:5px;
}
.userProfile span.patientsName{
    
}
.userProfile span.patientsName:after{
    content: '|';
    display:inline-block;
    margin-left:5px;	
}
#emrAcc .panel-group{
    margin-bottom:10px;
}
#emrAcc .panel-heading{
    background:#efefef;
    position:relative;
}
#emrAcc .panel-heading label{
    font-size:12px;
    color:#3294d6;	
    margin-bottom: 0px;
}
#emrAcc .panel-body{
    padding: 0px;
}
#emrAcc .accordion-heading a.collapsed{
    background:url(../img/arrow-collapse.png) 5px -16px no-repeat;
}

.leftNavExam{
    overflow-y: auto;
    background:#efefef;
    margin:6px 0 10px 0;	
}

.examRight{
    width: 100%;
    overflow-y: auto;
    background:#efefef;
    padding:5px 10px;
    margin:0;	
    float:left;
}
.examRight .sectionBox{
    margin:3px 0;	
}
.examRight p{
    padding:10px 10px 5px;	
}
.contentPad10{
    padding:15px 5px;
}
.examinationCnt .sectionBox p{
    padding:5px 10px;
}
.examinationCnt table{
    width:100%;
    margin:10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
select, select:focus{
    border:1px solid #333;	
}
.examinationCnt table label{
    display:inline-block;
    width:50%;
    font-weight:normal;	
}
.fullWidth{
    max-width:100%;	
}
.examRight .sectionBox {
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
.examRight .sectionBox h2 {
    font-size: 16px;
    padding: 5px;
}
.examRight .sectionBox h2 span {
    float: right;
    font-weight: normal;
    font-size: 12px;
}
.examRight .sectionBox h2 span input {
    float: left;
}
.examRight .sectionBox h2 span label {
    padding: 2px 5px;
}
.examRight .sectionBox p {
    padding: 10px 10px 10px 5px;
    float: left;
    width: 100%;
    background: #fff;
    margin: 0;
    font-size: 12px;
}
.examRight .iconEdit, .examRight .iconDelete{
    background: url(../img/icon-edit-delete.png) 0 0 no-repeat;
    background-size:220%;
    width:15px;
    height:15px;
}
.examRight .iconDelete{
    background: url(../img/icon-edit-delete.png) -19px 0 no-repeat;	
    background-size:220%;
}
.navbar-collapse {
    padding: 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-top:none;	
}
.navbar-toggle, .navbar-inverse .navbar-toggle {
    float: left;
    border: 1px solid #e56303;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #e56303;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #e56303;
}
.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
    background: #fff;
}
#menu-bar.nav {
    background: #efefef;
}
.nav > li > a {
    color: #333;
    border-top: 1px solid #ccc;
}
.nav > li > a:hover {
    background: #3293d7;
    color: #fff;
}
.navbar-right > li > a:hover, .navbar-right > li.active a, .navbar .navbar-nav > .active > a {
    background: #eee;
}
.nav > li ul.panel-collapse, .nav > li ul.panel-collapse li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav > li ul.panel-collapse li a {
    color: #333;
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 20px;
    text-decoration: none;
}
.nav > li ul.panel-collapse li a:hover {
    background: #3293d7;
    color: #fff;
}
.nav > li.dropdown a, .nav > li.dropdown a:hover {
    background: url(../img/arrow-down.png) right -40px no-repeat #efefef;
    color: #333;
}
.nav > li.dropdown a.collapsed{
    background: url(../img/arrow-down.png) right 0 no-repeat #efefef;
}
.nav > li.dropdown a:hover, .nav > li.dropdown a.collapsed:hover {
    background: url(../img/arrow-down.png) right 0 no-repeat #3293d7;
    color:#fff;
}
.nav > li.dropdown li a {
    background: none;
}
.nav > li ul.panel-collapse li a.current {
    background: #3293d7;
    color: #fff;
}
.navbar-right > li > a {
    border: none;
}
.navbar-header .nav > li.dropdown a{
    background:#fff;
}
.navbar-header .nav > li.dropdown a:hover{
    background:#fff;
}
.sectionBox h2 span input{
    float:left;	
}
.sectionBox h2 span label{
    padding:2px 5px;	
}
/*RESPONSIVE TABLE*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
	padding: 0; 
	margin: 0; 
	width: 320px; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
	width: 495px; 
    }
}


@media screen and (max-width:680px){
    .header{
	height:96px;	
    }
    .navbar-brand{
	width:70%;
    }
    .navbar-nav .open .dropdown-menu{
	position:absolute;
	background:#fff;	
    }
    .navbar-nav > li{
	background:#fff;
	padding:1px 0;
	width:58px;	
	float:left;
    }
    .navbar-nav > li > a{
	text-align:left;
	width:100%;
	padding:3px;
    }
    .navbar-nav{
	margin:0;	
    }
    ul.navbar-nav li a span.tracker, ul.navbar-nav li a span.emr, 
    ul.navbar-nav li a span.notes, ul.navbar-nav li a span.risks,
    ul.navbar-nav li a span.examination{
	float:left;
	margin:auto;
	padding:4px;
    }
    
    ul.navbar-nav li a span.menuText{
	display:inline-block;
	clear:both;
	float:none;
	width:auto;
	padding:5px 0 0 10px;
	display:none;
    }
    ul.navbar-nav li a span.overview {
	width: 33px;
	background-position: 2px 0;
    }

}
.formContent{
    margin-top: 10px;
}
.formbodytext_normal{
    font-family: tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    display: inline;
}
.formtextarea, .formmultiselect{
    border:none;
    border-bottom:1px solid #11587E;
    font-family:tahoma,Helvetica,sans-serif;
    font-size:11px;
    font-color: #999999;
    color:black;
    margin-left: 5px;
}
.graph{
    padding-left:20px;
}
.selected{
    padding-right: 15px;
}
.selected span{
    word-wrap: normal;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 960px; 
    height: 350px;
}
.datePickerInput{
    width: 100%;
    height: 40px;
    margin: none;
    background: transparent;
    outline: 0;
    border: 0px;
    padding-bottom: 7px;
    font-weight: bold;
}
.tileGridStyle{
    border: 1px solid rgb(212,212,212);
    min-width: 90%;
    min-height: 95%;
}
.calloutGridStyle{
    border: 1px solid rgb(212,212,212);
    width: 285px;
    height: 300px;
}
.followelement{
    background: url('../img/treeline.png') no-repeat;
    padding-left:20px;
    background-position: left bottom;
}
.nodeelement{
    padding-left:20px;
}
.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s ease-out all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.my-slide-animation.ng-enter {
    z-index:100;
    left:600px;
    opacity:0;
}
.my-slide-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}

.my-slide-animation.ng-leave {
    z-index:101;
    left:0;
    opacity:1;
}
.my-slide-animation.ng-leave.ng-leave-active {
    left:-600px;
    opacity:0;
}
