<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>India Online Health</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
	
  </head>
  <body class="bodytext_bold">
    <!--[if lt IE 7]>
  	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="container body-content"> 
      <!-- Example row of columns -->
		<div class="row main-content">
			<div class="col-lg-4 content-row" style="width:100%;position:relative;">
				<div class="sectionBox" style="float:left;width:33%;margin-top:5px;" >
						<h2 class="blue"><span class="icons iconEMR">EMR</span></h2>
							<div class="emrDetails contentDetails" style="height:130px;overflow:auto;">
								<p ng-if="emr_snapshot.allergies!= '' "><font class="bodytext_bold">Allergies : </font><font class="bodytext_bold" ng-repeat="allergy in emr_snapshot.allergies">{{allergy.0}}</font></p>
								<p ng-if="emr_snapshot.past_diseases != '' "><font class="bodytext_bold">Past Diseases : </font><font class="bodytext_bold" ng-repeat="disease in emr_snapshot.past_diseases">{{disease}}.</font></p>
								<p ng-if="emr_snapshot.past_illness != '' "><font class="bodytext_bold">Major Illness and Treatment History : </font> <font class="bodytext_bold" ng-repeat="illness in emr_snapshot.past_illness">{{illness.disease_name}}</font></p>
								<p ng-if="emr_snapshot.past_surgeries != '' "><font class="bodytext_bold">Surgical Procedures : </font><font class="bodytext_bold" ng-repeat="surgery in emr_snapshot.past_surgeries">{{surgery.surgery_name}}</font></p>
							</div>
							<div class="detailsLink blue"> <a href="#/emr/{{appointment_info.refappfromid_c}}"><span style="color:white;">View / Edit EMR</span></a> </div>
				</div>
				<div class="sectionBox" style="float:left;width:33%;margin-left:0.5%;margin-top:5px;">
						<h2 class="orange"><span class="icons iconNotes">Notes</span></h2>
						<textarea class="notesComments contentDetails smallContent" placeholder="Write notes here" ng-model="doctor_notes.notes" style='resize: none;height:130px;width:100%;'></textarea>
						<div class="detailsLink orange"> <a href="javascript:void(0);" ng-click="save_notes(appointment_info.appointment_id, appointment_info.refappfromid_c);"><span style="color:white;">Save Notes</span></a> </div>
				</div>
				<div class="sectionBox" style="float:left;width:33%;margin-left:0.5%;margin-top:5px;">
								<h2 class="red"><span class="icons iconWarning">Risk Factors</span></h2>
							  <div class="riskFactorDetails contentDetails" style="height:130px;" >
									<ul ng-repeat="risk in risks">
									  <li ng-show="!(risk.edit_mode)" class="bodytext_bold">
										{{risk.risk_text}} 
										<span ng-if='risk.writer_id == appointment_info.doctorid' class="iconDelete" ng-click="delete_risk($index,appointment_info.refappfromid_c)"></span>
										<span ng-if='risk.writer_id == appointment_info.doctorid' class="iconEdit" ng-click="risk.edit_mode = true"></span>
									  </li>
									  <li ng-show="(risk.edit_mode)">
										<input type="text" ng-model="risk.risk_text" />
										<div class="iconSave" ng-click="edit_risk($index,appointment_info.refappfromid_c);risk.edit_mode=false"></div>
									  </li>
									</ul>
							  </div>
							  <div class="detailsLink red">
						<input type="text" ng-model="new_risk.text" ng-enter="add_risk(appointment_info.refappfromid_c);"/>
						<a href="javascript:void(0);" ng-click="add_risk(appointment_info.refappfromid_c);"><span style="color:white;">Enter Risk</span></a> </div>
				</div>
				<div class="sectionBox" style="float:left;width:100%;margin-top:5px;display:none;">
					<h2 class="blue" style="padding-left:10px;"><span class="icons iconEMR">Examination</span></h2>	
					
					<table style=" table-layout: fixed;word-wrap:break-word;border:1px solid #9cd4f9;width:100%;cellpadding:5px;" cellpadding="10" class="bodytext_bold" border="1">
						<tr ng-repeat="data in pastAllData['data']" ng-if="data.examination">
							<td width="10%">
								<p style="white-space: pre-line;">{{data.date}}</p>
								<p style="white-space: pre-line;">{{data.incidentname}}</p>
							</td>
							<td >
								<table class="bodytext_bold" >
									<tr>
										<td ng-repeat="(key,val) in data.examination" style="vertical-align:top;padding-left:10px;">
											{{key.toUpperCase()}}
											<table>
												<tr ng-repeat="(itemKey, itemVal) in keys(val)" >
													<td class="bodytext_bold">
														<p style="white-space: pre-line;">{{val[itemVal].q}} - {{val[itemVal].a}}</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="10%">
								<a href="#/examination/{{appointment_info.appointment_id}}" title="Click To Edit"><i class="fa fa-pencil-square-o" style="font-size:14px;color:blue;">&nbsp;&nbsp;Today</i></a>
							</td>
							<td >
								<table class="bodytext_bold" >
									<tr>
										<td ng-repeat="(key,val) in examinationQuestion" style="vertical-align:top;padding-left:10px;">
											<p style="white-space: pre-line;">{{key.toUpperCase()}}</p>
											<table>
												<tr ng-repeat="(itemKey, itemVal) in keys(val)" >
													<td class="bodytext_bold">
														<p style="white-space: pre-line;">{{val[itemVal].q}} - {{val[itemVal].a}}</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div class="detailsLink blue">
					&nbsp;
					</div>
				</div>

				<div class="sectionBox" id="divprescription" style="float:left;width:100%;margin-top:5px;border-bottom:1px solid #9cd4f9;padding:10px;padding-left:50px;" class="bodytext_bold">
					<div class="bodytext_bold pres" style=" border-bottom:1px solid #9cd4f9;position:relative;">
						<div ng-click="toggle('today');" style="width:100%;position:relative;text-align:top;min-height:40px;vertical-align:top;display: inline-flex;">
						<div  style="width:100%;position:relative;text-align:top;min-height:40px;vertical-align:top;display: inline-flex;">
							<div style="width:29%;padding-left:5px;height:inherit;padding:3px;">
								<h5><a href="javascript:void(0);" ng-click="launchComplexModal()" title="Click To Edit"><i class="fa fa-pencil-square-o" style="font-size:14px;color:blue;">&nbsp;&nbsp;Today</i></a></h5>
								<p style="white-space: pre-line;padding-left:10px;">Main Complaint : {{examination_data.text_complaint}}</p>
								<p style="white-space: pre-line;padding-left:10px;">Diagnosis : {{examination_data.text_diagnosis}}</p>
								<div style="padding-left:10px;color:blue;">
                    			 <a href="javascript:void(0);" style="color:blue;vertical-align:bottom">more info ...</a></div>
								</div>
							
							<div style="width:25%;height:inherit;padding:3px;">
								<h5> Investigations</h5>
								<p style="white-space: pre-line;">{{examination_data.investigation_text}}</p>
								          
							</div>
							<div style="width:31%;height:inherit;padding:3px; ">
								<h5>Medicines</h5>
								<p style="white-space: pre-line;">{{examination_data.medicine_text}}</p>
								
							</div>
							<div style="width:12%;height:inherit;min-height:40px;padding:3px;">
								<h5>Other instructions / Follow up advice</h5>
								<p style="white-space: pre-line;">{{examination_data.text_followup}}</p><br/>
							</div>
						</div>
<!--					
							<div style="width:15%;height:inherit;padding:3px; ">
								<p style="white-space: pre-line;">{{examination_data.text_complaint}}</p>
							</div>
							<div style="width:7%;height:inherit;padding:3px;">
								<p style="white-space: pre-line;">{{examination_data.text_diagnosis}}</p>
							</div>
							<div style="width:25%;height:inherit;padding:3px;">
								<p style="white-space: pre-line;">{{examination_data.investigation_text}}</p>
							</div>
							<div style="width:31%;height:inherit;padding:3px; ">
								<p style="white-space: pre-line;">{{examination_data.medicine_text}}</p>
							</div>
							<div style="width:12%;height:inherit;padding:3px;">
								<p style="white-space: pre-line;">{{examination_data.text_followup}}</p>
							</div>
	-->
						</div>
						
						<div ng-click="toggle('today');" id="today" style="padding-left:10%;width:100%;position:relative;display:none;border-top:1px solid #9cd4f9;">
							<table class="bodytext_bold" >
								<tr>
									
									<td>
										<a href="#/examination/{{appointment_info.appointment_id}}" title="Click To Edit"><i class="fa fa-pencil-square-o" style="font-size:14px;color:blue;">&nbsp;&nbsp;Edit</i></a>
									</td>
									<td ng-if="examination_data.text_examinationsummary" style="vertical-align:top;padding-left:10px;">
										EXAMINATION SUMMARY
										</br>
										{{examination_data.text_examinationsummary}}
									</td>
									<td ng-repeat="(key,val) in examinationQuestion" style="vertical-align:top;padding-left:10px;">
										<p style="white-space: pre-line;">{{key.toUpperCase()}}</p>
										<table>
											<tr ng-repeat="(itemKey, itemVal) in keys(val)" >
												<td class="bodytext_bold">
													<p style="white-space: pre-line;">{{val[itemVal].q}} - {{val[itemVal].a}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<span class="bodytext_bold" style="float:right;padding-top:5px;">Show All incidences</span><input type="checkbox" ng-click="refreshappointment(this);" style="float:right;height:15px;width:15px;" id="allincidences" value="" checked></input>
				</div>
				<div past-visits ng:controller="emrCtrl"></div>
		
				<div class="sectionBox" ng-if="tracker_info['gridOptions'][tracker_info['current_tracker_id']]" style="float:left;width:100%;margin-top:5px;">
					<h2 class="green"><span class="icons iconTracker">Trackers</span></h2>
					<div class="trackerContent contentDetails" style="height:200px;">
						<div class="tileGridStyle" ng-if="tracker_info['gridOptions'][tracker_info['current_tracker_id']]" ng-grid="currentGrid"></div>
						<h3 ng-if='tracker_info["current_tracker_id"] == null' >No trackers available for this consultation.</h3>
					</div>
					<div class="detailsLink green">
						<a href="#/patienttracker/{{appointment_info.appointment_id}}">View all Trackers</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- /container --> 
  </body>
</html>
