<script src="/ayushman/assets/app/js/extra/agecalculator.js"></script>
<link href="/ayushman/assets/app/css/visits.css" rel="stylesheet" type="text/css">
<div class="sectionVisitBox bodytext_bold" id="newdivprescription" >
<!--	<div id="{{data.id}}record" class="visit" ng-repeat="data in pastAllData['page'] track by $index ">-->
	<div id="{{data.id}}record" class="visit" ng-repeat="data in pastAllData['page'] | filter: {recordstatus : 'completed'}">
		<div class="section sec_gen clear">
			<h5> Visit Info</h5>
			<p style="  white-space: pre-line;">{{data.date}}</p>
			<p style="  white-space: pre-line;">{{data.drname}}</p>
			<p style="  white-space: pre-line;">Incidence : {{data.incidentname}}</p>
			<p style="  white-space: pre-line;">Symptoms : {{data.maincomplaint}}</p>
			<p style="  white-space: pre-line;">Diagnosis : {{data.diagnosis}}</p>
		</div>
		<div class="section sec_inv">
			<h5> Investigations</h5>
			<p style="  white-space: pre-line;">{{data.investigation}}</p>
		</div>
		<div class="section sec_med">
			<h5>Medicines</h5>
			<p style="  white-space: pre-line;">{{data.medicine}}</p>
		</div>
		<div class="section sec_fol">
			<h5>Other instructions <br/>/ Follow up advice</h5>
			<p style="  white-space: pre-line;">{{data.followup}}</p><br/>
		</div>
		<div class="links clear">
			<div class="actions">
				<a class="actionlinks" style="color:blue" ng-if="data.status == 'notfromsystem' && data.prescription != 'Informationnotyetfilled' && data.showbilloption=='yes'" href="" ng-click="show_summary_nfs(data.id);" target="_blank">Print Prescription</a>
				<a class="actionlinks" style="color:blue" ng-if="data.status == 'notfromsystem' && data.prescription == 'Informationnotyetfilled'" href="">No Summary</a>
				<a class="actionlinks" style="color:blue" ng-if="data.status == 'fromsystem' && data.showbilloption=='yes'" href="" ng-click="show_summary_fs(data.id);">Print/View Prescription</a> 
				<label ng-show="emr_snapshot.user_role=='doctor' && data.showbilloption=='yes'">
					<label past-bill></label>
				</label>
				<a class="actionlinks" style="color:red;float:right" ng-if="data.status == 'notfromsystem' && data.user_role=='patient'" href="" ng-click="deleteRecord(data.id,$index);" target="_blank">Delete Record</a>
				<a class="actionlinks" style="color:blue;float:right" href="" ng-click="editIncidence(data.id);" target="_blank">Edit Incidence</a>
			</div>
			<div ng-if="data.report != 'Informationnotyetfilled'" class="actions">
				<a class="actionlinks" style="color:blue" href="javascript:void(0);" ng-click="toggle(data.id);">View Report</a> 
			</div>
			<div ng-if="data.examination || data.examinationsummary " class="actions">
				<a class="actionlinks" style="color:blue" href="javascript:void(0);" ng-click="toggle(data.id);" >more info ...</a>
			</div>
			<div ng-if="data.messages.length == 0" class="actions" style="float:right">
				<a class="actionlinks" style="color:blue" href="javascript:void(0);" ng-click="toggle(data.id+'message');" >Seek Clarification</a>
			</div>
			<div ng-if="data.messages.length > 0" class="actions" style="float:right">
				<a class="actionlinks" style="color:blue" href="javascript:void(0);" ng-click="toggle(data.id+'messagelist');" >Show/Hide Messages</a>
			</div>
		</div>
		<div id ="INC{{data.id}}" class="moreinfo">
			<table class="bodytext_bold"  style="width:100%">
				<tr>
					<td>
						<input id="incident{{data.id}}" type ="text" class="formtextarea"  style="maxlength:50" value="{{data.incidentname}}"/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input id="savebtn" type="button" class="button" style="width:99px" value="Save" ng-click="saveIncidentinPres(data.id,$index);" >
					</td>
				</tr>
			</table>
		</div>
		<div id="{{data.id}}" class="moreinfo">
			<table class="bodytext_bold"  style="width:100%">
				<tr>
					
				</tr>
				<tr>
					<td>
						<tr class="empDetailsEMR" ng-show="true">
							<td colspan="5" class="pad0" ng-if="data.report != 'Informationnotyetfilled'">
								 <div class="emrPatientDetails">
									<table class="emrPatientDetailsTbl" border="1" style="border:1px solid #11587E">
										<tr>
											<td style="width:30%">
												Report Link
											</td>
											<td style="width:70%">
												Tags
											</td>
										</tr>
										<tr ng-repeat="reportvalue in data.report track by $index">
											<td>
												<a href="javascript:void(0);" ng-click="openDialog('/ayushman/'+reportvalue['path'], 800,1400);" style="color:blue;"><i class="fa fa-file-pdf-o" style="font-size:20px;"></i> View Report {{$index + 1}}</a>
											</td>
											<td>
												<table style="padding-left:50px;border:1px solid #11587E" border="1" cellpadding="5">
													<tr>	
														<td  style="width:70%">
															Parameter Name
														</td>
														<td  style="width:30%">
															Parameter Value
														</td>
													</tr>	
													<tr ng-repeat="para in reportvalue['Parameters']">
														<td  style="width:70%">
															{{para.parametername}}
														</td>
														<td  style="width:30%">
															{{para.parametervalue}}
															</br>	
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>      
					</td>
					<td ng-if="data.examinationsummary" style="vertical-align:top;padding-left:10px;">
						EXAMINATION SUMMARY
						</br>
						{{data.examinationsummary}}
					</td>
					<td ng-repeat="(keyExam,valExam) in data.examination" style="vertical-align:top;padding-left:10px;">
						{{keyExam.toUpperCase()}}
						<table>
							<tr ng-repeat="(itemKey, itemVal) in keys(valExam)" >
								<td class="bodytext_bold">
									<p style="white-space: pre-line;">{{valExam[itemVal].q}} - {{valExam[itemVal].a}}</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	
		<div id="{{data.id}}messagelist"  class="messagelist" ng-if="data.messages.length > 0">
			<div class="in_message" ng-repeat="message in data.messages track by $index" ng-if="$first && !$last">
				<div class="messageHeader"><i class="fa fa-envelope-o"></i>&nbsp;{{message.datetime}}<br/><span style="width:50px">From :</span> <span style="padding-left:1em">{{message.name}}</span> <br/> <span style="width:50px">To&nbsp;&nbsp;&nbsp;:</span><span style="padding-left:2em">{{message.to}}</span>
				</div>
				<div class="messageBody">{{message.query}}</div>
			</div>
			<div class="in_message" ng-repeat="message in data.messages track by $index" ng-if="$middle">
				<div class="messageHeader"><i class="fa fa-envelope-o"></i>&nbsp;{{message.datetime}}<br/><span style="width:50px">From :</span> <span style="padding-left:1em">{{message.name}}</span> <br/> <span style="width:50px">To&nbsp;&nbsp;&nbsp;:</span><span style="padding-left:2em">{{message.to}}</span>
				</div>
				<div class="messageBody">{{message.query}}</div>
			</div>
			<div class="in_message" ng-repeat="message in data.messages track by $index" ng-if="$last ">
				<div class="messageHeader"><i class="fa fa-envelope-o"></i>&nbsp;{{message.datetime}}<br/><span style="width:50px">From :</span> <span style="padding-left:1em">{{message.name}}</span> <br/> <span style="width:50px">To&nbsp;&nbsp;&nbsp;:</span><span style="padding-left:2em">{{message.to}}</span>
				</div>
				<div class="messageBody">{{message.query}}</div>
				<div class="actions" style="float:right">
					<a class="actionlinks" style="color:blue" href="javascript:void(0);" ng-click="toggle(data.id+'message',$index,message);" ><i class="fa fa-reply"></i>Continue..</a>
				</div>
			</div>
		</div>
		<div id="{{data.id}}message" class="message">
			<div class="in_message">
				<div class="messageHeader"><span style="width:50px">To&nbsp;&nbsp;&nbsp;:</span><span style="padding-left:2em">{{data.replyto}}</span>
				<br/>
 				   <select ng-if="network" ng-model="selectnetwork" ng-options="selectnet.name group by selectnet.role for selectnet in network" ng-change="changeTofield(selectnetwork,$index)">
				      <option value="">Select to Send msg</option>
				    </select>
				</div>
				
				<div class="messageBody"><textarea rows="7" id="{{data.id}}messagetext" style="width: 100%;"/></div>
				<div ng-if="network.length==0" class="sendto"><button class="button" style="float: right;width: 99px;" ng-click="sendMessage(data.id,data.replytoid)">Send</button></div>
				<div ng-if="network.length!=0" class="sendto"><button class="button" style="float: right;width: 99px;" ng-click="sendMessage(data.id,selectnetwork.id)">Send</button></div>
			</div>
		</div>
	</div>
	<div class="bodytext_bold" style="position:relative;text-align: center;" ng-if="gotvisits == false">
		Loading visits <img id="loading" src="/ayushman/assets/images/ajax-loader.gif" />
	</div>
	<div class="bodytext_bold" style="position:relative;text-align: center;" ng-show="pastAllData['data'].length == undefined &&  gotvisits == true">
		Previous visits not found.
	</div>
	<div class="bodytext_bold links" ng-show="pastAllData['page'].length > 0">
		<a href="javascript:void(0);" ng-click="showMoreVisits();" ng-if="pastAllData['data'].length != pastAllData['page'].length" style="color:blue;align:center;">Show Next 5 Visits</a>
		<a href="javascript:void(0);" ng-click="showAllVisits();" ng-if="pastAllData['data'].length != pastAllData['page'].length" style="color:blue;align:center;">/ Show All Visits</a>
		<a href="javascript:void(0);" ng-click="showLessVisits();" ng-if="pastAllData['page'].length > 5" style="color:blue;align:center;">/ Show Only Latest 5 Visits</a>
		<label class="bodytext_bold" ng-if="pastAllData['data'].length != 0" style="float:right;">Showing 1 - {{pastAllData['page'].length}} of {{pastAllData['data'].length}} records </label>
	</div>
</div>
<script type="text/javascript">

</script>
