<div  ng-controller="trackerheaderCtrl" >
	
	<div class="sectionBox" ng-repeat="template in template_info.template_list" ng-show="template.id == tracker_info.headerid" style="height:105px;margin-bottom:10px;padding:10px;">
		<div class="bodytext_bold" style="margin-top:10px;margin-bottom:10px;">
			<div class="bodytext_bold">
				<div ng-repeat="latestvalue in template.latestvalues" style="width:300px;height:40px;float:left;">
					<span style="float:left;width:100px;">{{latestvalue.name}}</span><input style="float:left;width:100px;" class="textarea" ng-model="latestvalue.value" value="" />
				</div>
			</div>
		</div>
		<input ng-click="changedvalues()" type="button" value="Update" class="btn btn-success dropdown-toggle" style="float:right;position:absolute;right:17px;top:9px;width: 67px;height: 34px;" />
	</div>
</div>
<style type="text/css">
	div.ui-datepicker{
		font-size:10px;
		width:250px !important;
	}
</style>