<script type="text/javascript">
	function inWords (num) {
    	var a = ['','one ','two ','three ','four ', 'five ','six ','seven ','eight ','nine ','ten ','eleven ','twelve ','thirteen ','fourteen ','fifteen ','sixteen ','seventeen ','eighteen ','nineteen '];
		var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

    	if ((num = num.toString()).length > 9) return 'overflow';
	    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    	if (!n) return; var str = '';
	    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    	str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
 	   str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
 	   str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
 	   str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
 	   return str;
	}
	function setAmountinWords()
	{
		// Setting value property so that reflected
		var Ainwords = inWords(document.getElementById("totalamt").value);
		document.getElementById("amtinwords1").setAttribute("value",Ainwords);
		document.getElementById("amtinwords2").setAttribute("value",Ainwords);
		
		document.getElementById("amtinwords1").value=inWords(document.getElementById("totalamt").value);
		document.getElementById("amtinwords2").value=inWords(document.getElementById("totalamt").value);
	}
	$(document).ready(function() {
		$('.action').hide();
	});
	function PrintElem(elem)
    {
        Popup($(elem).html());
    }

    function Popup(data) 
    {
        var mywindow = window.open('', 'print', 'height=400,width=600');
        mywindow.document.write('<html><head><title>my div</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>

<div style="width:100%;">
<input type="hidden" value="2" id="autocompletevalue" />
<table >
	<tr>
		<td width="100%">
			<div ng-show="examination_data.display_savebutton" id="printprescription"  style="box-shadow:2px 7px 19px #888888;">
			<style type="text/css">
				@media only print
				{	
				
				}
				@page {
					/* dimensions for the whole page */
					size: A5;
					margin: 0;
				}
				body {
					/* A5 dimensions */
					height: 210mm;
					width: 148.5mm;
					margin: 0;
				}
			</style>
			<link href="/ayushman/assets/css/style.css" rel="stylesheet" type="text/css">
			<script src="/ayushman/assets/js/listboxcomponent.js"></script>
			<script src="/ayushman/assets/app/js/extra/exam.js"></script>
			<script src="/ayushman/assets/app/js/extra/prescription.js"></script>
			<link rel="stylesheet" href="/ayushman/assets/app/lib/font-awesome/css/font-awesome.min.css">
			<link rel="stylesheet" href="/ayushman/assets/app/css/main.css" />
			<table width="100%" class="table_roundborder" padding="10px">
					<tr>
						<td style="padding:10px">
							<div id="name" style="height:auto;width:100%;line-height:200%">
								<font>Dr. {{myprofile['userinfo'].name}}</font>&nbsp;<span class="bodytext_normal" style="font-size:7px;" >({{myprofile['usereducation'].doctoreducation}})</span></br>
								<table style="height:auto;width:100%;" >  
									<tr>
										<td style="font-size:9pt;font-family:arial;font-style:italic;border-collapse: collapse;padding-top: 0.0em;padding-bottom: 1.5em;">
											<div style="float:left;width:150px;margin-left:1px;">
												<span >{{myclinics['clinicinfo'][0].clinicname}}</br>
													{{myclinics['clinicinfo'][0].line1}},
													{{myclinics['clinicinfo'][0].nearmark}},
													{{myclinics['clinicinfo'][0].location}}, {{myclinics['clinicinfo'][0].city}}-{{myclinics['clinicinfo'][0].pin}},
													{{myclinics['clinicinfo'][0].state}}
													</br>
													Ph.{{myclinics['clinicinfo'][0].isd}}-{{myclinics['clinicinfo'][0].phone}}</span>
											</div>
										</td>										
										<td style="height:auto;width:40%;vertical-align:top">
											No:&nbsp &nbsp; <input id="billid"  name="billid" style=" width:50px;border:none;text-align:right; border-bottom:1px solid;font-weight:bold" readonly ng-model="appointment_info.billid" value="{{appointment_info.billid}}"/>
											</br>
									Date :<label>{{billdate}} </label>
										</td>
									</tr>
								</table>
								RECEIVED with thanks from &nbsp &nbsp; <input id="name" name="name" style=" width:57.8%;border:none; border-bottom:1px solid;font-weight:bold" readonly ng-model="appointment_info.Patientname"/>
								Diagnosis.<input id="diagnosis"  name="diagnosis" style=" width:80.5%;border:none; border-bottom:1px solid;font-weight:bold" ng-model="examination_data.text_diagnosis" value = "{{examination_data.text_diagnosis}}"/>
								</br>
								</br>
								the sum of Rupees.<input id="totalamt"  name="totalamt"  onblur="setAmountinWords();" style=" width:70.7%;border:none; border-bottom:1px solid;font-weight:bold" ng-model="appointment_info.amount"value ="{{appointment_info.amount}}" />
								</br>
								by cash/cheque, in part/full payment for consultation / operation.
								</br>
								Rs. <input id="sum" readonly name="sum" style=" width:200px;border:none; border-bottom:1px solid;"  ng-model="appointment_info.amount" value = "{{appointment_info.amount}}"/>
								(<input readonly ng-model="appointment_info.amountinwords" value="{{appointment_info.amountinwords}}" name= "amtinwords1" id="amtinwords1"  style=" width:50.7%;border:none; border-bottom:1px solid;font-weight:bold" />)
								<input type="hidden" id="appid" name="appid" value="{{appointment_info.appointment_id}}" >
  								</br>
								Cheque subject to realisation.
								</br>
								<div style="float:right;padding-right:50px;padding-bottom:10px;">
									Signature
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div ng-hide="examination_data.display_savebutton" id="printprescriptionbill"  style="box-shadow:2px 7px 19px #888888;">
			<style type="text/css">
				@media only print
				{	
				
				}
				@page {
					/* dimensions for the whole page */
					size: A5;
					margin: 0;
				}
				body {
					/* A5 dimensions */
					height: 210mm;
					width: 148.5mm;
					margin: 0;
				}
			</style>
			<link href="/ayushman/assets/css/style.css" rel="stylesheet" type="text/css">
			<script src="/ayushman/assets/js/listboxcomponent.js"></script>
			<script src="/ayushman/assets/app/js/extra/exam.js"></script>
			<script src="/ayushman/assets/app/js/extra/prescription.js"></script>
			<link rel="stylesheet" href="/ayushman/assets/app/lib/font-awesome/css/font-awesome.min.css">
			<link rel="stylesheet" href="/ayushman/assets/app/css/main.css" />
			<table width="100%" class="table_roundborder" padding="10px">
					<tr>
						<td style="padding:10px">
							<div id="name" style="height:auto;width:100%;line-height:200%">
								<font>Dr. {{myprofile['userinfo'].name}}</font>&nbsp;<span class="bodytext_normal" style="font-size:7px;" >({{myprofile['usereducation'].doctoreducation}})</span></br>
								<table style="height:auto;width:100%;" >  
									<tr>
										<td style="font-size:9pt;font-family:arial;font-style:italic;border-collapse: collapse;padding-top: 0.0em;padding-bottom: 1.5em;">
											<div style="float:left;width:150px;margin-left:1px;">
												<span >{{myclinics['clinicinfo'][0].clinicname}}</br>
													{{myclinics['clinicinfo'][0].line1}},
													{{myclinics['clinicinfo'][0].nearmark}},
													{{myclinics['clinicinfo'][0].location}}, {{myclinics['clinicinfo'][0].city}}-{{myclinics['clinicinfo'][0].pin}},
													{{myclinics['clinicinfo'][0].state}}
													</br>
													Ph.{{myclinics['clinicinfo'][0].isd}}-{{myclinics['clinicinfo'][0].phone}}</span>
											</div>
										</td>										
										<td style="height:auto;width:40%;vertical-align:top">
											No:&nbsp &nbsp; <input readonly id="billid"  name="billid" style=" width:50px;border:none;text-align:right; border-bottom:1px solid;font-weight:bold" value="{{appointment_info.billid}}"/>
											</br>
									<label>Date :</label>		
									<label>{{billdate}} </label>
										</td>
									</tr>
								</table>
								RECEIVED with thanks from &nbsp &nbsp; <input id="name" name="name" style=" width:57.8%;border:none; border-bottom:1px solid;font-weight:bold" readonly value="{{appointment_info.Patientname}}"/>
								Diagnosis.<input  id="diagnosis"  name="diagnosis" style=" width:80.5%;border:none; border-bottom:1px solid;font-weight:bold" ng-model = "examination_data.text_diagnosis" value="{{examination_data.text_diagnosis}}"/>
								</br>
								the sum of Rupees.<input  id="totalamt"   onblur="setAmountinWords();" name="totalamt" style=" width:70.7%;border:none; border-bottom:1px solid;font-weight:bold" ng-model = "appointment_info.amount" value="{{appointment_info.amount}}" />
								</br>
								by cash/cheque, in part/full payment for consultation / operation.
								</br>
								Rs. <input id="sum" readonly name="sum" style=" width:200px;border:none; border-bottom:1px solid;"  ng-model = "appointment_info.amount" value="{{appointment_info.amount}}"/>
								(<input readonly  name="amtinwords2" id="amtinwords2"  value="{{appointment_info.amountinwords}}" ng-model="appointment_info.amountinwords" style=" width:50.7%;border:none; border-bottom:1px solid;font-weight:bold" />)
								<input type="hidden" id="appid" name="appid" value="{{appointment_info.appointment_id}}" >
								</br>
								Cheque subject to realisation.
								</br>
								<div style="float:right;padding-right:50px;padding-bottom:10px;">
									Signature
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>

		</td>
		<td width="50px;" valign="top">
			<form id="billform" method="post" enctype="multipart/form-data">
					<input type="hidden" name="billid" value="{{appointment_info.billid}}" >
					<input type="hidden" name="totalamt" value="{{appointment_info.amount}}" >
					<input type="hidden" name="amtinwords2" value="{{appointment_info.amountinwords}}" >
					<input type="hidden" name="amtinwords1" value="{{appointment_info.amountinwords}}" >
					<input type="hidden" name="diagnosis" value="{{examination_data.text_diagnosis}}" >
					<input type="hidden" name="appid" value="{{appointment_info.appointment_id}}" >
					<input type="hidden" name="extrabillfields" value="false" >
			</form>
			<div ng-if="examination_data.display_Rx!=false">
			<input type="button" value="Rx" style="margin:5px;width:50px;" ng-click="$modalSuccess();" class="button" />
			</div>
			<input ng-show="examination_data.display_Rx!=false" type="button" value="Finish" ng-click="savebill();$modalCancel();" style="margin:5px;width:50px;" class="button" />
			<input ng-show="examination_data.display_Rx==false && examination_data.display_savebutton==true" type="button" value="Save" ng-click="savebill();$modalCancel();" style="margin:5px;width:50px;" class="button" />
			<input type="button" value="Print" style="margin:5px;width:50px;" ng-click="savebill();$modalCancel();" onclick="PrintElem('#printprescriptionbill');" class="button" />
		</td>
	</table>
</div>